.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navList {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer > div:nth-child(1) {
  font-size: 1.5rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] {
  background: #D97500;
  width: fit-content;
  padding: 0.7rem;
  border-radius: 20px;
  margin-top: 1.7rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.landingMainContainer > div:nth-child(2) {
  height: 60vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 35vw;
  height: auto;
  border-radius: 20px;
}